recursive-include pydocusign *
global-exclude *.pyc
global-exclude *.un~
global-exclude *.swp
include AUTHORS
include CHANGELOG
include CONTRIBUTING.rst
include LICENSE
include README.rst
include VERSION
